@use 'variables' as *;
@use 'dependencies';
@use 'layouts/home';
@use 'components' as *;
@use 'utilities' as *;

@use "pages/speakers";
@use "pages/info";
@use "pages/contact";

@layer reset, vendor, components, utilities, pages;

@layer vendor {
  @import "bootstrap-build";
}
